*{
    margin: 0px;
    padding: 0px;
}

.menu {

    border: 1px solid black;
    margin: 160px auto;
    width: 300px;

}

.config{
    width: 86%;
    margin: 21px;

}


#play{
    height: 50px;
    width: 130px;
    margin: 0px 28.3%;
}

.table{
    border: 0.3px solid black;

    margin: 30px auto;
    display:table;
}
.d-tr{
    width: 100%;
    display:table-row; 
   
}
.d-td{  

   display: table-cell;
    padding: 12px;
    text-align: center;
    width: 8px;
    height: 8px;
}
.cells{

    background-image: url(2.jpg);
    background-repeat: no-repeat;

}

.not_pressed{
    background-position-x: -320px;
}
.pressed{
    background-position-x: 0px;  
}

.mines{
  background-position-x: -288px;
}

.m1{
    background-position-x: -32px;
}
.m2{
    background-position-x: -64px;
}
.m3{
    background-position-x: -96px;
}
.m4{
    background-position-x: -128px;
}
.m5{
    background-position-x: -160px;   
}
.m6{
    background-position-x: -192px;
}
.m7{
    background-position-x: -224px;
}
.m8{
    background-position-x: -256px;
}

.test{
    background-position-y: -30px;
}



